<div class="row">
    <!-- Add/Edit form modal -->
    <div id="panelCommon_CountryMasterEdit" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Country Master</h5>
                </div>
                <div class="modal-body">
                    <form class="form-horizontal" id="frmCommon_CountryMaster" method="get">

                        <div class="form-group">
                            <label class="control-label col-sm-4">Country Name<span style="color:red"> *</span></label>
                            <div class="col-sm-8">
                                <input type="text" tabindex="1" placeholder="Enter Country Name" maxlength="50" name="CountryName" id="txtCountryName" class="form-control required">
                            </div>
                        </div>
                    </form>
                </div>
                <div class="modal-footer">
                    @if (Model.ISADD == 1 || Model.ISUPDATE == 1)
                    {
                        <button type="button" id="btnSaveCommon_CountryMaster" class="btn btn-success btnSave" tabindex="2"><span class="fa fa-floppy-o"></span> Save</button>
                    }
                    <button name="CancelCommon_CountryMaster" class="btn bg-slate-400 btnCancel" type="button"><i class="fa fa-times"></i> Cancel</button>
                </div>

            </div>
        </div>
    </div>
    <!-- Add/Edit form modal -->
    <!-- Delete form modal -->
    <div id="panelCommon_CountryMasterDelete" class="modal fade" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Country Master</h5>
                </div>
                <form class="form-horizontal" id="frmCommon_CountryMaster" method="get">
                    <div class="modal-body">
                        <div class="form-group">
                            <dl class="dl-horizontal">
                                <dt>Country Name: </dt>
                                <dd id="delblCountryName"></dd>
                            </dl>
                        </div>
                    </div>
                    <div class="modal-footer">
                        @if (Model.ISDELETE == 1)
                        {
                            <button type="button" id="btnDeleteCommon_CountryMaster" class="btn btn-danger btnDelete"><span class="fa fa-trash-o"></span> Delete</button>
                        }
                        <button name="CancelCommon_CountryMaster" class="btn bg-slate-400 btnCancel" type="button"><i class="fa fa-times"></i> Cancel</button>
                    </div>
                </form>
            </div>
        </div>
    </div>
    <!-- /Delete form modal -->
    <div class="panel" id="panelCommon_CountryMasterList" style="display: block; margin-bottom: 0px;border: unset;">
        <div class="col-md-5 col-md-offset-7 No-m-display pb-10">
            <div class="col-sm-9 txtR">
                <div class="form-group has-feedback">
                    <input type="text" id="txtsearchboxcountry" autofocus class="form-control searchbox" placeholder="Search Here...">
                    <div class="form-control-feedback">
                        <i class="icon-search4 text-size-base"></i>
                    </div>
                </div>
            </div>
            @if (Model.ISADD == 1)
            {
                <div class="col-sm-3 pr-0 txtR">
                    <button class="formstylebutton  btn btn-success waves-effect waves-light m-t-10 btnAddNew" type="button" id="btnAddCommon_CountryMaster" style="font-weight:600!important"><i class="fa fa-plus"></i>&nbsp;&nbsp;Add New</button>
                </div>
            }
        </div>
        <div class="col-sm-12" style="overflow-x:auto; overflow-y:hidden; ">
            <div class="jqGrid_wrapper" id="jqGrid_Common_CountryMaster">
                <table id="table_Common_CountryMaster"></table>
                <div id="pager_Common_CountryMaster"></div>
            </div>
        </div>
    </div>
    <input type="hidden" id="hdnCountryId" value="" />
</div>
